{% extends 'base.html'%}
{% block content %}
<h1>Bird List</h1>
    {% for bird in birds%}
        <div class="card">
            <a href="{% url 'details' bird.id %}"></a>
            <div class="card-title">
                <span class="card-title">{{ bird.name }}</span>
                <p>Species:{{ bird.species }}</p>
                <p>Desription:{{ bird.description }}</p>
                {% if bird.age > 0%}
                    <p>Age:{{ bird.age }}</p>
                {% else %}
                    <p>It's a hatchling</p>
                {% endif %}
            </div>
        </div>
{% endfor %}

{% endblock %}
